@import url('https://fonts.googleapis.com/css?family=Lato');

// Responsive Font Size modulw
@import '../../node_modules/rfs/scss';

html {
  font-family: 'Lato', sans-serif !important;
}

.display-picture {
  border-radius: 100%;
}

.card-hover-effect {
  transition: all 0.2s ease-in;
  box-shadow: 0 0 0 rgba(0,0,0,0) !important;

  &:hover {
    transition: box-shadow 0.2s ease-in;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15) !important;
  }

}
